<!--
  Generated template for the OverviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>overview</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col>Id</ion-col>
    <ion-col>FirstName</ion-col>
    <ion-col>LastName</ion-col>
    <ion-col>Date of Birth</ion-col>
    <ion-col>Total</ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-row *ngFor="let user of listUser" (click)="editUser(user)">
    <ion-col>{{user?.id}}</ion-col>
    <ion-col>{{user?.firstname}}</ion-col>
    <ion-col>{{user?.lastname}}</ion-col>
    <ion-col>{{user?.dateofbirth}}</ion-col>
    <ion-col>{{user?.totalPoint}}</ion-col>
    <ion-col>
        <button ion-button icon-only (click)="deleteUser(user)">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-col>
  </ion-row>
</ion-grid>
<button ion-button class="submit-button" (click)= "addNewUser()">New</button>
<ion-grid>
    <ion-row>
      <ion-col>Name</ion-col>
      <ion-col>Math</ion-col>
      <ion-col>Physical</ion-col>
      <ion-col>Chemistry</ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row *ngFor="let score of listScoreBoard" (click)="editScore(score)">
      <ion-col>{{score?.fullname}}</ion-col>
      <ion-col>{{score?.math}}</ion-col>
      <ion-col>{{score?.physical}}</ion-col>
      <ion-col>{{score?.chemistry}}</ion-col>
      <ion-col>
          <button ion-button icon-only (click)="deleteUser(user)">
              <ion-icon name="close"></ion-icon>
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>
<!-- <button (click)="logout()">Log out</button> -->
</ion-content>
