<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form novalidate [formGroup]="group">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" formControlName="Email"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="(group.get('Email').hasError('required') || group.get('Email').hasError('email') ) && (group.get('Email').touched)">
        <div class="error" *ngIf="group.get('Email').hasError('required') && group.get('Email').touched">
          Email is required
        </div>
        <div class="error" *ngIf="group.get('Email').hasError('email') && group.get('Email').touched">
          Please enter valid email
        </div>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="Password"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(group.get('Password').hasError('required') || group.get('Password').hasError('minlength') ) && group.get('Password').touched">
        <div class="error" *ngIf="group.get('Password').hasError('required') && group.get('Password').touched">
          Password is required
        </div>
        <div class="error" *ngIf="group.get('Password').hasError('minlength') && group.get('Password').touched">
          Password must be at least 6 characters long.
        </div>
      </ion-item>
    </ion-list>
    <button ion-button class="submit-button" [disabled]="group.invalid" (click)= "login()">Login</button>
  </form>
</ion-content>